body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container {

}

.btn {
    margin: 10px;
}
#nav, #admin-nav {
    background-color: yellow;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#home-admin {
    display: flex;

}
#login-signup {
    display: flex;

}

.margin-5 {
    margin: 5px;
}

#slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-slide {
margin-left: 40px;
}
#sub-slide {
    
}
#banner {
    display: flex;
    align-items: center;
    justify-content: center;
}
#product-list {

    width: auto;
    margin: 50px; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    
}
.product-item {
    width: 250px;
    margin: 10px;
}

.product-info {
    margin: 5px 10px 0px 10px ;
}
.item-name {
    font-weight: bold;
}
.item-manufacture {
   
}
.star-rating {

}
.item-price {

}


/* Css cho phần admin */
#admin-wrapper{
    display: flex;
    margin-top: 50px;
   
}
#admin-sidebar {
margin-left: 30px;
width: 200px;
}
.sidebar-part {
    margin: 10px 0px 10px 0px;
}
.sidebar-item {
    width: 200px;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#category {

}
.admin-label {
    font-weight: bold;
    margin: 5px;
    cursor: pointer;
}
.sidebar-dropdown {
    
}
#manufacturers {

}
#categorys {

}

#admin-main-content {
    margin: 20px;
    width: calc(100% - 200px);
    
    display: flex;
    flex-direction: column;
   
}
#admin-search-box {
    height: 70px;
    padding-left: 30px;
    display: flex;
    align-items: center;
    
}
#admin-search-box button {
    margin: 10px;
}
#admin-product-crud {
    margin-top: 10px;
}
#admin-add-new {

}
#admin-add-new button {
    margin: 20px;
}
#admin-table {

}
th, td {
    padding: 10px;
    text-align: left;
  }

.modal {
    background-color: rgba(0, 0, 0, .4);
}
.modal-header {
    font-weight: bold;
    font-size: 20px;
}
.product-info-input {
    display: flex;
    flex-direction: column;
}
.product-info-input label {
    width: 100px;
    margin: 10px;
}
.product-info-input select {
    width: 200px;
}