<div class="product-item">
    <div class="product-img">
        <img src="./img/item-img.jpg" alt="">
    </div>
    <div class="product-info">
        <div class="item-name margin-5">Apple iPhone 14 Pro Max</div>
        <div class="item-manufacture margin-5">Apple</div>
        <div class="star-rating margin-5"></div>
        <div class="item-price margin-5">23.990.000đ</div>
    </div>
</div>
<div class="product-item">
    <div class="product-img">
        <img src="./img/item-img.jpg" alt="">
    </div>
    <div class="product-info">
        <div class="item-name margin-5">Apple iPhone 14 Pro Max</div>
        <div class="item-manufacture margin-5">Apple</div>
        <div class="star-rating margin-5"></div>
        <div class="item-price margin-5">23.990.000đ</div>
    </div>
</div>
<div class="product-item">
    <div class="product-img">
        <img src="./img/item-img.jpg" alt="">
    </div>
    <div class="product-info">
        <div class="item-name margin-5">Apple iPhone 14 Pro Max</div>
        <div class="item-manufacture margin-5">Apple</div>
        <div class="star-rating margin-5"></div>
        <div class="item-price margin-5">23.990.000đ</div>
    </div>
</div>
<div class="product-item">
    <div class="product-img">
        <img src="./img/item-img.jpg" alt="">
    </div>
    <div class="product-info">
        <div class="item-name margin-5">Apple iPhone 14 Pro Max</div>
        <div class="item-manufacture margin-5">Apple</div>
        <div class="star-rating margin-5"></div>
        <div class="item-price margin-5">23.990.000đ</div>
    </div>
</div>
<div class="product-item">
    <div class="product-img">
        <img src="./img/item-img.jpg" alt="">
    </div>
    <div class="product-info">
        <div class="item-name margin-5">Apple iPhone 14 Pro Max</div>
        <div class="item-manufacture margin-5">Apple</div>
        <div class="star-rating margin-5"></div>
        <div class="item-price margin-5">23.990.000đ</div>
    </div>
</div>
<div class="product-item">
    <div class="product-img">
        <img src="./img/item-img.jpg" alt="">
    </div>
    <div class="product-info">
        <div class="item-name margin-5">Apple iPhone 14 Pro Max</div>
        <div class="item-manufacture margin-5">Apple</div>
        <div class="star-rating margin-5"></div>
        <div class="item-price margin-5">23.990.000đ</div>
    </div>
</div>
<div class="product-item">
    <div class="product-img">
        <img src="./img/item-img.jpg" alt="">
    </div>
    <div class="product-info">
        <div class="item-name margin-5">Apple iPhone 14 Pro Max</div>
        <div class="item-manufacture margin-5">Apple</div>
        <div class="star-rating margin-5"></div>
        <div class="item-price margin-5">23.990.000đ</div>
    </div>
</div>