<div id="category" class="sidebar-part">
    <div class="label">Danh mục</div>
    <div class="sidebar-dropdown">
        <div class="sidebar-item border">Manufacturer</div>
        <div class="sidebar-item border">Category</div>
        <div class="sidebar-item border">Product</div>
        <div class="sidebar-item border">Account</div>
    </div>
</div>
<div id="manufacturers" class="sidebar-part">
    <div class="label">Manufacturers</div>
    <div class="sidebar-dropdown">
        <div class="sidebar-item border">SAMSUNG</div>
        <div class="sidebar-item border">APPLE</div>
        <div class="sidebar-item border">XIAOMI</div>
        <div class="sidebar-item border">OPPO</div>
</div>
<div id="categorys" class="sidebar-part">
    <div class="label">Categorys</div>
    <select name="category" id="">
        <option selected="selected" value="none" disabled> -- Select Category</option>
    </select>
    <button type="button" class="btn btn-light">Filter</button>
</div>
</div>